@import "tailwindcss";
@import "@ez/shared/style.css";
@source "../**/*.{ts,tsx}";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@utility bg-ebooks {
  background-image:
    linear-gradient(var(--tw-gradient-stops)), url("/assets/images/bg-ebooks-pattern.png");
}

@layer components {
  .bprogress .bar {
    @apply bg-gradient-to-r from-primary via-secondary to-tertiary;
  }
}
