[data-theme="mathematizer"] {
  --background: oklch(0.99 0 0);
  --foreground: oklch(0.35 0.12 250);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.35 0.12 250);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.35 0.12 250);
  --primary: oklch(0.56 0.15 250);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(.97 .005 250);
  --secondary-foreground: oklch(1 0 0);
  --tertiary: oklch(0.65 0.15 280);
  --tertiary-foreground: oklch(1 0 0);
  --muted: oklch(0.94 0.01 250);
  --muted-foreground: oklch(0.55 0.08 250);
  --accent: oklch(0.70 0.18 40);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.65 0.22 25);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.91 0.01 250);
  --input: oklch(0.91 0.01 250);
  --ring: oklch(0.56 0.15 250);
  --radius: 0.75rem;
  --footer: oklch(0.32 0.08 240);
  --footer-foreground: oklch(0.98 0 0);
  --shadow-glow: 0 0 40px oklch(0.70 0.18 40 / 0.15);
  --shadow-soft: 0 2px 16px -4px oklch(0% 0 0 / .3);
  --shadow-medium: 0 4px 24px -4px oklch(0% 0 0 / .5);
}

.dark [data-theme="mathematizer"] {
  --background: oklch(0.27 0.07 252.01);
  --foreground: oklch(0.95 0.02 250);
  --card: oklch(0.27 0.07 252.01);
  --card-foreground: oklch(0.95 0.02 250);
  --popover: oklch(0.27 0.07 252.01);
  --popover-foreground: oklch(0.95 0.02 250);
  --primary: oklch(0.64 0.15 250);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.47 0.05 303.17);
  --secondary-foreground: oklch(1 0 0);
  --tertiary: oklch(0.60 0.14 280);
  --tertiary-foreground: oklch(1 0 0);
  --muted: oklch(0.35 0.08 250);
  --muted-foreground: oklch(0.70 0.05 250);
  --accent: oklch(0.66 0.16 40);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.65 0.22 25);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.35 0.08 250);
  --input: oklch(0.35 0.08 250);
  --ring: oklch(0.64 0.15 250);
  --radius: 0.75rem;
  --footer: oklch(0.35 0.08 250);
  --footer-foreground: oklch(0.98 0 0);
  --shadow-glow: 0 0 40px oklch(0.70 0.18 40 / 0.15);
  --shadow-soft: 0 2px 16px -4px oklch(0% 0 0 / .3);
  --shadow-medium: 0 4px 24px -4px oklch(0% 0 0 / .5);
}
