:root {
  --background: oklab(97.515% -0.0055 -0.01152);
  --foreground: oklch(0.48 0.157 261.65);
  --header: oklch(1 0 0);
  --header: oklab(97.515% -0.0055 -0.01152);
  --card: oklch(0.93 0 0);
  --card-foreground: oklch(0.14 0.0044 285.82);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.61 0.11 232.71);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.48 0.157 261.65);
  --secondary-foreground: oklch(1 0 0);
  --tertiary: oklch(0.54 0.1713 280.5);
  --tertiary-foreground: oklch(1 0 0);
  --muted: oklch(0.37 0.0444 258.77);
  --muted-foreground: oklch(0.55 0.0137 285.94);
  --accent: oklch(0.98 0 0);
  --accent-foreground: oklch(0.21 0.0059 285.88);
  --navy: oklch(.45 .18 250);
  --navy-light: oklch(.55 .16 250);
  --navy-dark: oklch(.35 .2 250);
  --navy-foreground: oklch(1 0 0);
  --navy-light-foreground: oklch(1 0 0);
  --navy-dark-foreground: oklch(1 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.48 0.157 261.65);
  --ring: oklch(0.708 0 0);
  --radius: 0.625rem;
}

.dark {
  --background: oklab(22% -0.0055 -0.01152);
  --foreground: oklch(0.90 0.04 261.65);
  --header: oklch(0.22 0.005 261.65);
  --header: oklab(22% -0.0055 -0.01152)
  --card: oklch(0.24 0.01 260);
  --card-foreground: oklch(0.93 0.01 285.82);
  --popover: oklch(0.22 0.01 260);
  --popover-foreground: oklch(0.92 0.02 285.82);
  --primary: oklch(0.71 0.12 232.71);
  --primary-foreground: oklch(0.14 0 0);
  --secondary: oklch(0.78 0.15 261.65);
  --secondary-foreground: oklch(0.18 0.01 261.65);
  --tertiary: oklch(0.74 0.17 280.5);
  --tertiary-foreground: oklch(0.15 0.01 280.5);
  --muted: oklch(0.32 0.03 258.77);
  --muted-foreground: oklch(0.78 0.05 285.94);
  --accent: oklch(0.25 0.01 260);
  --accent-foreground: oklch(0.98 0 0);
  --navy: oklch(.45 .18 250);
  --navy-light: oklch(.55 .16 250);
  --navy-dark: oklch(.35 .2 250);
  --navy-foreground: oklch(0.98 0 0);
  --navy-light-foreground: oklch(0.98 0 0);
  --navy-dark-foreground: oklch(0.98 0 0);
  --destructive: oklch(0.55 0.23 27.325);
  --border: oklch(0.30 0.01 260);
  --input: oklch(0.30 0.01 260);
  --ring: oklch(0.78 0.02 260);
}
