@layer base {
  body {
    background-color: white;
  }
}

.stf__parent {
  position: relative;
  display: block;
  box-sizing: border-box;
  transform: translateZ(0);

  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.stf__wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.stf__parent canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.stf__block {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  perspective: 2000px;
}

.stf__item {
  display: none;
  position: absolute;
  transform-style: preserve-3d;
}

.stf__outerShadow {
  position: absolute;
  left: 0;
  top: 0;
}

.stf__innerShadow {
  position: absolute;
  left: 0;
  top: 0;
}

.stf__hardShadow {
  position: absolute;
  left: 0;
  top: 0;
}

.stf__hardInnerShadow {
  position: absolute;
  left: 0;
  top: 0;
}

.open-book,
.open-book .stf__parent {
  width: 100% !important;
  max-width: min(420px, calc(100vw - 2rem)) !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

@media (min-width: 768px) {
  .open-book,
  .open-book .stf__parent {
    max-width: none !important;
  }
}

@media (min-width: 768px) {
  .open-book:before {
    bottom: -1em;
    content: "";
    left: -1em;
    position: absolute;
    right: -1em;
    top: -1em;
    z-index: -1;
  }

  .open-book:after {
    background: linear-gradient(
      to right,
      transparent 0%,
      rgba(255, 255, 255, 0.2) 46%,
      var(--primary-c) 49%,
      var(--secondary-c) 50%,
      rgba(255, 255, 255, 0.5) 51%,
      rgba(255, 255, 255, 0.2) 52%,
      transparent 100%
    );
    bottom: -1em;
    content: "";
    left: 50%;
    position: absolute;
    top: -1em;
    transform: translate(-50%, 0);
    width: 4em;
    z-index: 1;
  }
}
