@import "tailwindcss";

@source "../../../../apps/web/src/**/*.{ts,tsx}";
@source "../../../../apps/studio/src/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx,css}";

@plugin "tailwind-clamp";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --breakpoint-2xl: 1536px;
  --breakpoint-8xl: 90rem;
  --container-8xl: 90rem;

  --default-ring-width: 3px;
  --default-ring-color: var(--color-primary);

  --font-oswald: var(--font-oswald);
  --font-questrial: var(--font-questrial);
  --font-inter: var(--font-inter);

  --text-sm: clamp(0.875rem, 3.5vw, .80rem); /* 14 → 16px */
  --text-base: clamp(1rem, 3vw, 1.125rem); /* 16 → 18px */
  --text-lg: clamp(1.125rem, 3vw, .20rem); /* 18 → 20px */
  --text-xl: clamp(1.25rem, 4vw, .40rem); /* 20 → 24px */
  --text-2xl: clamp(1.5rem, 5vw, 1rem); /* 24 → 32px */
  --text-3xl: clamp(1.875rem, 6vw, 1.25rem); /* 30 → 36px */
  --text-4xl: clamp(2.25rem, 7vw, 2rem); /* 36 → 48px */
  --text-5xl: clamp(3rem, 8vw, 2.75rem); /* 48 → 60px */
  --text-6xl: clamp(3.75rem, 9vw, 3.5rem); /* 60 → 72px */

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-header: var(--header);
  --color-navy: var(--navy);
  --color-navy-light: var(--navy-light);
  --color-navy-dark: var(--navy-dark);
  --color-cyan: var(--cyan);
  --color-coral: var(--coral);
  --color-purple: var(--purple);
  --color-gray-warm: var(--gray-warm);
  --color-gray-light: var(--gray-light);
  --color-footer: var(--footer);
  --color-footer-foreground: var(--footer-foreground);
  --animate-pulse-effect: pulse-effect 1s;

  @keyframes pulse-effect {
    0% {
      box-shadow: 0 0 0 0 var(--hover);
    }
  }
}