@import "tailwindcss";

@source "../src/**/*.{ts,tsx}";

@plugin "tailwind-clamp";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-header: var(--header);
  --color-navy: var(--navy);
  --color-navy-light: var(--navy-light);
  --color-navy-dark: var(--navy-dark);
  --color-cyan: var(--cyan);
  --color-coral: var(--coral);
  --color-purple: var(--purple);
  --color-gray-warm: var(--gray-warm);
  --color-gray-light: var(--gray-light);
}

:root {
  --primary: oklch(0.64 0.15 250);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.47 0.05 303.17);
  --secondary-foreground: oklch(1 0 0);
  --tertiary: oklch(0.60 0.14 280);
  --tertiary-foreground: oklch(1 0 0);
  --muted: oklch(0.35 0.08 250);
  --muted-foreground: oklch(0.70 0.05 250);
  --accent: oklch(0.66 0.16 40);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.65 0.22 25);
  --navy: oklch(.75 .15 210);
  --navy-light: oklch(.80 .13 210);
  --navy-dark: oklch(.65 .17 210);
  --cyan: oklch(.80 .15 210);
  --coral: oklch(.75 .18 35);
  --purple: oklch(.78 .2 280);
  --gray-warm: oklch(.75 .02 240);
  --gray-light: oklch(.35 .05 250);
}
